<h1>PERFIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIL</h1>

<p>No eres nadie</p>


<p>Solo puedes acudir a quedadas</p>

{{#with user}}

<p>Nombre: {{name}}</p>

{{/with}}

{{#if isTeach}}
<p>Eres un profe</p>
{{/if}}

{{#if isAlumni}}
<p>Eres un alumno</p>
{{/if}}