<div class="main-info">

    <p><strong>Nombre del encuentro:</strong> {{name}}</p>
    <p><strong>Fecha y hora:</strong> {{date}}</p>

    <div class="buttons">

        <a class="btn btn-light" href="/meetup/{{id}}"> Ver detalles</a>

        <form method="POST" action="/meetup/attend/{{id}}">
            <button name="assistants" type="submit" class="btn btn-light">Asistir al
                evento</button>
        </form>

    </div>
    <hr>
</div>