<div class="container">

  <div class="row justify-content-center">

    <div class="col-md-8">

      {{>detailscoursepartial}}

    </div>

    <div class="col-md-4">

      <figure>
        <img src="{{courses.image}}" alt="course image">
      </figure>

      <div>
        <a class="btn btn-light" href="/courses"> Volver</a>
      </div>

    </div>

  </div>

</div>