<div class="roleError">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <p><strong>
                        Necesitas permisos superiores para prodecer a esa acción. Ve a tu perfil y actualízalo.
                </p></strong>
            </div>
        </div>
    </div>
</div>