body {
  font-family: sans-serif;
}

.role-select{
  display: flex;
  margin: 30px;
  justify-content: space-around;
}

#myCoursesMap{
  height: 500px;
  background-color: red;
}

#myMeetsMap{
  height: 500px;
  background-color: green;
}